.blocks{
	float:left;
	width:20%;
	height:90px;
	-webkit-box-shadow: 0px 0px 2px 0px rgba(189,189,189,1);
   -moz-box-shadow: 0px 0px 2px 0px rgba(189,189,189,1);
    box-shadow: 0px 0px 2px 0px rgba(189,189,189,1);
    padding:2px;
}
.blocks b{
	margin-left:8px;
	margin-top:8px;
}
.form-control{
	-webkit-box-shadow: 2px 2px 5px 0px rgba(166,153,166,1);
    -moz-box-shadow: 2px 2px 5px 0px rgba(166,153,166,1);
    box-shadow: 2px 2px 5px 0px rgba(166,153,166,1);
}
i{
	cursor:pointer;
}

#date-container{
	min-width:1250px;
	margin-top:17px;
}

.date-block{
	min-width:250px;
}
#date-container .fa{
	float:right; 
	color:#B0BEC5; 
	margin:5px 5px 0 0;
}
#spacing{
	width:100%; 
	height:700px;
}
@media only screen and (max-width: 600px) {
    #date-container {
      min-width:0px;
      width:100%;
  }
    .date-block{
      min-width:0px;
      width:100%;
    }
    .blocks{
      width:100%;
      float:none;
    }
    #date-container .fa{
	  font-size:2em;
    }
    #date-container .fa:nth-child(2n){
	  margin-top:50px;
	  font-size:1.8em;
	  margin-right:-27px;
    }
    #spacing{
      height:100px;
    }
}