<br>
<div class="container-fluid">
	<select #month (change)="disp(month.value)" style="max-width:100px; float:left" class="form-control">
		<option value="jan">jan</option>
		<option value="feb">feb</option>
	</select>
	<select #year  style="max-width:100px; float:left; margin-left:20px" class="form-control">
		<option value="2018">2018</option>
		<option value="2017">2017</option>
	</select>
	<br><br>
	
	<div style="min-width:1000px; margin-top:17px">
		<div *ngFor="let date of dates" style="min-width:200px" class="blocks">
		  <i class="fa fa-info-circle" style="float:right; color:#B0BEC5; margin:5px 5px 0 0"></i>
		  <app-day [day]="date.day" [num]="date.events"></app-day>
		</div>
	</div>
</div>
<br>